html {
  background-color: black;
}

.image-thumbnail {
  border: solid white 2px;
  border-radius: 1%;
  height: 200px;
  width: 300px;
}

.site-container {
  background-color: black;
  color: white;
}

.gallery-overview {
  background-color: black;
  left: 45%;
  top: 20%;
}

.gallery {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 500px;
  left: 50%;
  padding: 10px;
  position: fixed;
  row-gap: 10px;
  top: 50%;
  transform: translate(-500px, -250px);
  width: 1000px;
}

.slider-popup {
  background-color: rgba(8, 8, 8, 0.11);
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  height: 725px;
  left: 50px;
  position: absolute;
  right: 50px;
  top: 10px;
}

.slider-middle {
  align-items: center;
  display: none;
  grid-row: 0.9fr 0.1fr;
  justify-items: center;
}

.slider-left {
  align-items: center;
  display: none;
  justify-items: center;
  opacity: 50%;
}

.slider-right {
  align-items: center;
  display: none;
  justify-items: center;
  opacity: 50%;
}

.slider-image {
  display: none;
  height: 100px;
  width: 100px;
}

.slider-image-visible {
  display: grid;
  height: 700px;
  width: 1000px;
}

.arrow-right {
  border-bottom: 160px solid transparent;
  border-left: 160px solid rgb(77, 85, 77);
  border-top: 160px solid transparent;
  height: 0;
  width: 0;
}

.arrow-left {
  border-bottom: 160px solid transparent;
  border-right: 160px solid rgb(77, 85, 77);
  border-top: 160px solid transparent;
  height: 0px;
  width: 0px;
}

.progress-circle {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.progress-circle:hover {
  background-color: rgb(14, 13, 13);
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  transition-duration: 1.5s;
  width: 25px;
}
.progress-circle-active {
  background-color: rgb(5, 5, 5);
  border: solid 1px white;
  border-radius: 50%;
  display: inline-block;
  height: 25px;
  transition-duration: 1.5s;
  width: 25px;
}

.close-slider {
  background-color: #bbb;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.close-slider:hover {
  background-color: rgb(87, 1, 1);
  display: inline-block;
  height: 25px;
  transition-duration: 1s;
  width: 25px;
}

.pause {
  background-color: #bbb;
  display: inline-block;
  height: 25px;
  transition-duration: 1s;
  width: 25px;
}

.pause:hover {
  background-color: rgb(179, 82, 3);
  display: inline-block;
  height: 25px;
  transition-duration: 1s;
  width: 25px;
}

.paused {
  background-color: rgb(179, 82, 3);
  display: inline-block;
  height: 25px;
  transition-duration: 1s;
  width: 25px;
}
